<!--component html goes here -->
<div>
    <nz-table [nzDataSource]="displayServiceList" [nzIsPagination]="false" [nzLoading]="loading">
        <thead nz-thead>
            <tr>
                <th nz-th><span>路由</span></th>
                <th nz-th><span>访问方法</span></th>
                <th nz-th><span>描述</span></th>
                <th nz-th><span>操作</span></th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let item of displayServiceList">
                <td nz-td><a (click)="diaplayDetail(item)">{{item.route}}</a></td>
                <td nz-td><span>{{item.httpMethod}}</span></td>
                <td nz-td><span>{{item.description}}</span></td>
                <td nz-td><a (click)="displayTest(item)">测试</a></td>
            </tr>
        </tbody>
    </nz-table>
</div>
<ng-template #title>
    <div nz-row>
        <h2>{{titlestring}}</h2>
    </div>
</ng-template>
<ng-template #serviceDetail>
    <div nz-row>
        <fieldset>
            <legend>参数</legend>
            <div class="card-body">
                <nz-table [nzDataSource]="selectedService.args" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span>名称</span></th>
                            <th nz-th><span>类型</span></th>
                            <th nz-th><span>描述</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of selectedService.args">
                            <td nz-td><span>{{item.memberName}}</span></td>
                            <td nz-td>
                                <typename (OnDisplayType)="displayType($event)" [Type]="item"></typename>
                            </td>
                            <td nz-td><span>{{item.description}}</span></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </fieldset>
    </div>
    <div nz-row *ngIf="selectedService.returnArg">
        <fieldset>
            <legend>返回值:{{selectedService.returnArg.name}}</legend>
            <div class="card-body">
                <nz-table [nzDataSource]="selectedService.returnArg.properties" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span>名称</span></th>
                            <th nz-th><span>类型</span></th>
                            <th nz-th><span>描述</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of selectedService.returnArg.properties">
                            <td nz-td><span>{{item.memberName}}</span></td>
                            <td nz-td>
                                <typename (OnDisplayType)="displayType($event)" [Type]="item"></typename>
                            </td>
                            <td nz-td><span>{{item.description}}</span></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </fieldset>

    </div>
</ng-template>

<ng-template #footer>
    <!--<div class="text-center">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="generateCode('net')" [nzLoading]="loginLoading">
                生成net代码
        </button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="generateCode('java')" [nzLoading]="loginLoading">
                生成java代码
        </button>
    </div>-->
</ng-template>

<ng-template #testContent>
    <div nz-row *ngIf="selectedService != null">
        <fieldset>
            <legend>参数</legend>
            <div class="card-body panel-body">
                <div nz-row *ngFor="let item of selectedService.args" style="margin-top:10px;">
                    <typename (OnDisplayType)="displayType($event)" [Type]="item"></typename>
                    <br>
                </div>
            </div>
        </fieldset>
    </div>
    <div nz-row>
        <fieldset>
            <legend>返回结果</legend>
            <div class="card-body">
                <span>{{testResponse}}</span>
            </div>
        </fieldset>

    </div>
</ng-template>
<ng-template #testFooter>
    <div class="text-center">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="test()" [nzLoading]="testLoading">
                调用接口
        </button>
    </div>
</ng-template>

<ng-template #typeContent>
    <div nz-row *ngIf="selectedType">
        <fieldset>
            <legend>
                {{selectedType.fullname}}
            </legend>
            <div class="card-body panel-body">
                <nz-table [nzDataSource]="selectedType.properties" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span>名称</span></th>
                            <th nz-th><span>类型</span></th>
                            <th nz-th><span>描述</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of selectedType.properties">
                            <td nz-td><span>{{item.memberName}}</span></td>
                            <td nz-td>
                                <typename (OnDisplayType)="displayType($event)" [Type]="item"></typename>
                            </td>
                            <td nz-td><span>{{item.description}}</span></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </fieldset>
    </div>
</ng-template>