<!--component html goes here -->
<div>
    <nz-table [nzDataSource]="displayServiceList" [nzIsPagination]="false" [nzLoading]="loading">
        <thead nz-thead>
            <tr>
                <th nz-th><span>路由</span></th>
                <th nz-th><span>访问方法</span></th>
                <th nz-th><span>描述</span></th>
                <th nz-th><span>操作</span></th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let item of displayServiceList">
                <td nz-td><a (click)="diaplayDetail(item)">{{item.Route}}</a></td>
                <td nz-td><span>{{item.HttpMethod}}</span></td>
                <td nz-td><span>{{item.Description}}</span></td>
                <td nz-td><a (click)="displayTest(item)">测试</a></td>
            </tr>
        </tbody>
    </nz-table>
</div>
<ng-template #title>
    <div nz-row>
        <h2>{{titlestring}}</h2>
    </div>
</ng-template>
<ng-template #serviceDetail>
    <div nz-row>
        <fieldset>
            <legend>参数</legend>
            <div class="card-body">
                <nz-table [nzDataSource]="selectedService.Args" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span>名称</span></th>
                            <th nz-th><span>类型</span></th>
                            <th nz-th><span>描述</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of selectedService.Args">
                            <td nz-td><span>{{item.MemberName}}</span></td>
                            <td nz-td *ngIf="!item.IsClass"><span>{{item.Name}}</span></td>
                            <td nz-td *ngIf="item.IsClass"><a (click)="displayType(item)">{{item.Name}}</a></td>
                            <td nz-td><span>{{item.Description}}</span></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </fieldset>
    </div>
    <div nz-row *ngIf="selectedService.Return">
        <fieldset>
            <legend>返回值:{{selectedService.Return.Name}}</legend>
            <div class="card-body">
                <nz-table [nzDataSource]="selectedService.Return.Properties" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span>名称</span></th>
                            <th nz-th><span>类型</span></th>
                            <th nz-th><span>描述</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of selectedService.Return.Properties">
                            <td nz-td><span>{{item.MemberName}}</span></td>
                            <td nz-td *ngIf="!item.IsClass"><span>{{item.Name}}</span></td>
                            <td nz-td *ngIf="item.IsClass"><a (click)="displayType(item)">{{item.Name}}</a></td>
                            <td nz-td><span>{{item.Description}}</span></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </fieldset>

    </div>
</ng-template>

<ng-template #footer>
    <!--<div class="text-center">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="generateCode('net')" [nzLoading]="loginLoading">
                生成net代码
        </button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="generateCode('java')" [nzLoading]="loginLoading">
                生成java代码
        </button>
    </div>-->
</ng-template>

<ng-template #testContent>
    <div nz-row *ngIf="selectedService != null">
        <fieldset>
            <legend>参数</legend>
            <div class="card-body panel-body">
                <div nz-row *ngFor="let item of selectedService.Args" style="margin-top:10px;">
                    <div *ngIf="!item.IsClass">
                        <div nz-col [nzSpan]="4" class="text-left">
                            <span>{{item.MemberName}} ({{item.Name}}):</span>
                        </div>
                        <div nz-col [nzSpan]="20">
                            <nz-input id="{{item.MemberName}}" class="testFormData" [nzPlaceHolder]="item.Description"></nz-input>
                        </div>
                    </div>
                    <div *ngIf="item.IsClass">
                        <div nz-row *ngFor="let property of item.Properties" style="margin-top:10px;">
                            <div nz-col [nzSpan]="4" class="text-left">
                                <span>{{property.MemberName}} ({{property.Name}}):</span>
                            </div>
                            <div nz-col [nzSpan]="20">
                                <nz-input id="{{property.MemberName}}" class="testFormData" [nzPlaceHolder]="property.Description"></nz-input>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </fieldset>
    </div>
    <div nz-row>
        <fieldset>
            <legend>返回结果</legend>
            <div class="card-body">
                <span>{{testResponse}}</span>
            </div>
        </fieldset>

    </div>
</ng-template>
<ng-template #testFooter>
    <div class="text-center">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="test()" [nzLoading]="testLoading">
                调用接口
        </button>
    </div>
</ng-template>

<ng-template #typeContent>
    <div nz-row *ngIf="selectedType">
        <fieldset>
            <legend>
                {{selectedType.FullName}}
            </legend>
            <div class="card-body panel-body">
                <nz-table [nzDataSource]="selectedType.Properties" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span>名称</span></th>
                            <th nz-th><span>类型</span></th>
                            <th nz-th><span>描述</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of selectedType.Properties">
                            <td nz-td><span>{{item.MemberName}}</span></td>
                            <td nz-td *ngIf="!item.IsClass"><span>{{item.Name}}</span></td>
                            <td nz-td *ngIf="item.IsClass"><a (click)="changeType(item)">{{item.Name}}</a></td>
                            <td nz-td><span>{{item.Description}}</span></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </fieldset>
    </div>
</ng-template>