<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBType" value="DB2"/>
  </appSettings>
  <connectionStrings>
    <add name="DB2" connectionString="Data Source=192.168.3.2:50000;database=jdcjsy;uid=db2admin;pwd=chainway-db2@admin;"/>
  </connectionStrings>
</configuration>