<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="soaConfigGroup">
			<section name="businessFileConfig" type="System.Configuration.DictionarySectionHandler" allowLocation="true" allowDefinition="Everywhere"/>
			<section name="filterConfig" type="System.Configuration.DictionarySectionHandler" allowLocation="true" allowDefinition="Everywhere"/>
			<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
		</sectionGroup>
	</configSections>
	<!--<appSettings>
    <add key="ConnectionString" value="server=WHZD011630;database=WZHS;uid=WZHSTest;pwd=test"/>
    <add key="DBType" value="MSSQL"/>
    <add key="WebServiceURL" value="http://223.4.201.125/WebServicePool/WebServicePool.asmx?op=Call"/>
  </appSettings>-->
	<startup>
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
				</binding>
				<binding name="secureHttpBinding">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="SOAFramework.Service.Server.SOAService">
				<endpoint address="Http://localhost/Service" binding="webHttpBinding" contract="SOAFramework.Service.Server.IService" bindingName="basicBinding"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttp">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="webHttpJson" type="SOAFramework.Service.Server.WebHttpJsonElement, SOAFramework.Service.Server"/>
			</behaviorExtensions>
		</extensions>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
	<soaConfigGroup>
		<businessFileConfig>
		</businessFileConfig>
		<filterConfig>
			<add key="DefaultFilter" value="SOAFramework.Service.DefaultFilter"></add>
		</filterConfig>
	</soaConfigGroup>
	<appSettings>
		<add key="ServiceUrl" value="http://localhost/Service"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
