<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiDirectory" value="E:\git\SOAFramework\01.Code\Bin\Api"/>
    <add key="CommonDirectory" value="E:\git\SOAFramework\01.Code\Bin\NodeInstance"/>
    <add key="ServiceEntry" value="MicroService.Library.NodeServerShell.exe"/>
    <add key="Host" value="http://127.0.0.1:9080/"/>
    <add key="DisplayShell" value="1"/>
    <add key="AutoStart" value="1"/>
  </appSettings>
</configuration>