<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AppPath" value="E:\AppLib\SOAFramework\Controller\bin\debug\Controller.dll"/>
    <add key="ControllerNameSpace" value="SOAFramework.Controller"/>
    <add key="ConnectionString" value="Data Source=223.4.201.125,1433;Initial Catalog=WZHS;User ID=WZHS; Password=wzhstake55; Persist Security Info=True;"/>
  </appSettings>
    <system.web>
      <pages validateRequest="false" />
      <compilation targetFramework="4.0" />
    </system.web>

</configuration>
