<?xml version="1.0"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <configSections>
    <sectionGroup name="soaConfigGroup">
      <section name="businessFileConfig" type="SOAFramework.Service.Core.Model.BusinessFileConfigSection" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="filterFileConfig" type="SOAFramework.Service.Core.Model.FilterFileConfigSection" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DBType" value="SQLite"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLite" connectionString="Data Source=E:\\AppLib\\LiuGeApi\\TestDB.db"/>
  </connectionStrings>
  <system.web>
    <identity/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288"
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288"
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <soaConfigGroup>
    <businessFileConfig>
      <config name="BLL" type="{AppDir}\bin\ApiLayer.dll"></config>
    </businessFileConfig>
    <filterFileConfig>
      <config name="BLL" type="{AppDir}\bin\ApiLayer.dll" GlobalUse="True"></config>
    </filterFileConfig>
  </soaConfigGroup>
</configuration>