<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <!-- 数据库连接配置信息-->
  <providers resource="providers.config"/>  	
	<database>
    <provider name="sqlServer2005"/>
    <dataSource name="db" connectionString="Data Source=localhost;Initial Catalog=XinluClub;User Id=sa;Password=frank;Pooling=true;Max Pool Size=10000"/>
	</database>
  <!-- XML映射文件配置信息-->
	<sqlMaps>
    <sqlMap resource="DLL\SqlMapping\User.xml"/>
	</sqlMaps>
</sqlMapConfig>