<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiDirectory" value="E:\AppLib\SOAFramework\01.Code\Bin\MicroServiceTesting\Api"/>
    <add key="CommonDirectory" value="E:\AppLib\SOAFramework\01.Code\Bin\MicroServiceTesting\Common"/>
    <add key="ServiceEntry" value="MicroService.Library.NodeServerShell.exe"/>
    <add key="Host" value="http://10.1.50.195/"/>
  </appSettings>
</configuration>